<div class="collapse navbar-collapse" ng-controller="HeaderController">
	<ul class="nav navbar-nav">
		<li ng-class="{active: isActive('/')}"><a href="/">Home</a></li>
		<li ng-class="{active: isActive('/about-us')}"><a href="#/about-us">About Us</a></li>
		<li ng-class="{active: isActive('/our-network')}"><a href="#/our-network">Our Network</a></li>
		<li ng-class="{active: isActive('/sales-and-pricing')}"><a href="#/sales-and-pricing">Sales and Pricing</a></li>
		<li ng-class="{active: isActive('/contact-us')}"><a href="#/contact-us">Contact Us</a></li>
		<li ng-class="{active: isActive('/support')}"><a href="#/support">Support</a></li>
	</ul>
</div>

