<!--templates/main.html-->
<p>Maple River Communications is the premier fixed Wireless Internet Service Provider in east-central North Dakota and west-central Minnesota.</p>

<p>Serving over 800 customers we offer a variety of speed plans to fit your needs and location. If you currently live in east-central North Dakota or west-central Minnesota, and you are using a dial-up Internet connection or you are not satisified with your current service this option is a great alternative with faster speeds.</p>

<p>Please call (701) 347-0089 if you would like more information or to sign up!</p>